main {
    background: #d9d7d5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

@media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(16, 199, 16);
    border-radius: 5px;
    border-color: black;
    size: 50px;
}
